@use './generales/variables' as *;
@use './generales/base' as *;
@use './generales/encabezado' as *;
@use './generales/secciones' as *;
@use './page/productoquiensoy' as *;
@use './page/index' as *;
@use './generales/resposive' as *;
@use './generales/animaciones' as *;