@use "./variables" as *;

/* =================== ESTILOS GENERALES ================== */

*{
    color: $amarillo-claro;
    font-family: "Fjalla One", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}