@use "../generales/variables" as *;

/* =================== TARJETAS Y TABLAS ================== */
.card {
@include sombra();
    &-img-top {
    height: 180px;
    object-fit: cover;
    }
    &-text {
    color: $azul-oscuro;
    }
}

p {
font-size: 1.2rem;
}

table {
margin: 20px auto;
}

.sobremi {
display: flex;
justify-content: space-between;
margin-left: 10px;
}
